<!DOCTYPE html>
<html>

<head>
    <!--改下方title，也就是设置标签页上的标题-->
    <title>注册页面</title>
    <!--要使用vue，可以用cdn的方式-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="./regist.css">
</head>

<body>
    <!--先布局再vue-->
    <div id="app">
        <h1>注册表</h1>
        <form @submit.prevent="register">
            <div class="col">
                <div class="info">
                    <label for="username">用户名</label>
                    <label for="password">密码</label>
                    <label for="comfirmPassword">确认密码</label>
                </div>
                <div class="input">
                    <input type="text" id="username" v-model="username">
                    <input type="password" id="password" v-model="password">
                    <input type="password" id="confirmPassword" v-model="confirmPassword">
                </div>
            </div>
            <!--表单提交的按钮显示-->
            <div class="row">
                <button type="submit">确认按钮</button>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
    <script src="./regist.js">
    </script>
</body>

</html>